In [1]:
import numpy as np 
import pandas as pd
import sys
import matplotlib.pyplot as plt

In [15]:
mydir = '/Users/eric/Documents/CDS465/'

pysrc = mydir + 'pysrc/'
datadir = mydir + 'data/'
popdir = mydir + 'population/'
folderpath = mydir + 'archieve/Dev_P1/BASE_DATA/'

sys.path.append( pysrc )

import Main2
import initialization as initf

In [3]:
E = Main2.Realm(datadir)
E.ReadAll(popdir + 'pop3_6.db')

In [4]:
E.loc_gen_dict = {'farming': (5,25,10),'mining': (5,25,12),'energy': (0,50,20),'manufacturing': (5,100,50)}
E.folderpath = folderpath
E.InitializeMM()
#E.initfQuickLook(5)

In [5]:
E.mm_dfs['qa_sandbox_orders']

,order_id,product_id,product_quantity,order_date,ship_to,ship_by,account_payable,order_status
0,o000001,p000307,505,8200,qa_simulate_orders,8201,12625.0,1
1,o000002,p000116,541,8200,qa_simulate_orders,8202,243450.0,2
2,o000003,p000319,481,8200,qa_simulate_orders,8202,288600.0,2
3,o000004,p000428,266,8200,qa_simulate_orders,8201,1064.0,1
4,o000005,p000010,722,8200,qa_simulate_orders,8201,50540.0,1
...,...,...,...,...,...,...,...,...
95,o000096,p000119,316,8200,qa_simulate_orders,8202,22120.0,2
96,o000097,p000410,494,8200,qa_simulate_orders,8201,1482.0,1
97,o000098,p000313,421,8200,qa_simulate_orders,8202,505200.0,2
98,o000099,p000122,510,8200,qa_simulate_orders,8202,255000.0,2
99,o000100,p000010,476,8200,qa_simulate_orders,8201,33320.0,1

In [6]:
ccpdf = E.initfCalcCostProfit(qa_sandbox_orders)

NameError: name 'qa_sandbox_orders' is not defined

In [ ]:
temp_salestax = pd.merge(E.mm_dfs['mm_product_master'][['product_id', 'location_coord']],ccpdf, how='right', on='product_id')
salestax = temp_salestax.groupby('location_coord')['sales_tax'].sum().reset_index()

In [ ]:
E.initfQuickLook(5)

NameError: name 'E' is not defined

```python
#initf.calc_cost_profit()

def check_solvency(realmc):
    return realmc.mm_dfs['mm_location_master']['balance'] > realmc.mm_debt_thold

>>> opt
[True, True, False....]

```python

### all functions called from ops package should be stored in the python sctipt operations.py 
import operations as ops

def EvolveMM2(self, Nmonths, addpeep, dometh, migrate=False):
        """The Realm.Evolve function that has been revamped to model MM processes"""
        for i in range( Nmonths ):
            ops.preopsMM(self, initfSimulateOrders())

            self.Evolve(self, 1, addpeep, dometh, migrate)

            ops.postopsMM(self, initfCalcCostProfit())

```python
### Sample operations.py script

###operations.py MOCKUP STARTS HERE:

###import dependencies

#Pre Evolve Functions
def check_solvency(realmc):
    pass
def recieve_orders(realmc, ordersdf: pd.DataFrame):
    pass
def check_order_parity(realmc, ordersdf: pd.DataFrame):
    pass

def preopsMM(realmc, ordersdf):
    if check_solvency(realmc):
        recieve_orders(realmc, ordersdf)
        check_order_parity(realmc, ordersdf)
    else:
        print(f'This location is insolvent {realmc.mm_dfs['mm_location_master'].iloc[np.argwhere(check_solvency(realmc))]['location_coord']} at month {realmc.month}') ###NOTE: Check here; may not work.
    
#Post Evolve Functions
def mm_operations(realmc, ccpdf):
    def manufacture(realmc, ccpdf):
        """
        Manf orders; changes statuses. Passes orderes where costs and profits are recognized into update_books
        """
        pass
    def update_books(realmc, fufiled_orders):
        pass

    fufiled_orders = manufacture(realmc, ccpdf)
    update_books(realmc, fufiled_orders)

def mm_tax(realmc, ccpdf):
    def check_tax(realmc):
        pass
    def pay_tax(realmc, ccpdf):
        """
        Define tax type rate as GLOBAL Enviroment
        """
        pass
    if check_tax(realmc):
        pay_tax(realmc, ccpdf)

def mm_hr(realmc):
    def check_employees(realmc):
        pass
    def hire_employees(realmc):
        pass
    def pay_employees(realmc):
        pass

    if check_employees(realmc):
        hire_employees(realmc)
    pay_employees(realmc)

def postopsMM(realmc, ccpdf):
    mm_operations(realmc, ccpdf)
    if check_solvency(realmc):
        mm_tax(realmc, ccpdf)
        if check_solvency(realmc):
            mm_hr(realmc)
        else: 
            yield
    else: 
        yield

In [ ]:
def mult_add1(f:bool, a, b, ret = False):
    def multiplyer1(a, b, ret):
        print('a*b is ', a*b)
        if ret:
            return a*b

    def adder1(a, b, ret):
        print('a+b is ', a+b)
        if ret:
            return a+b
        
    if f: 
        return multiplyer1(a, b, ret)
    else:
        return adder1(a, b, ret)

In [ ]:
sum([True, True, False])

2

In [ ]:
sum(E.persondf['death']<0)

13050

In [ ]:
%%time
employees = pd.merge(
            left=E.mm_dfs['mm_employee_master'],
            right=E.persondf,
            how='left'
        )

evh, vh = employees[['locv', 'loch']].values, np.array(employees['location_coord'].tolist())

d = np.linalg.norm(vh - evh, axis=1)

CPU times: user 12.5 ms, sys: 6.84 ms, total: 19.4 ms
Wall time: 18.6 ms

In [ ]:
%%time
temp_employees = E.mm_dfs['mm_employee_master'].copy()
pay = (1 + np.random.rand(len(temp_employees))/10) * 40000/12
temp_employees['pay'] = pay

q1 = E.persondf['pid'].isin(temp_employees['pid'].tolist())
#E.persondf.loc[q1, 'savings'] += pay

temp_employees_groupby = temp_employees.groupby(['location_coord'])['pay'].sum().reset_index()

merge_temp = pd.merge(E.mm_dfs['mm_location_master'], temp_employees_groupby, on='location_coord', how='left')
merge_temp['pay'] = merge_temp['pay'].fillna(0) #handle location w/o employee expenses
E.mm_dfs['mm_location_master']['balance'] = merge_temp['balance'] - merge_temp['pay']

#get latest bank record
q1 = E.mm_dfs['mm_books']['period_s'] == max(E.mm_dfs['mm_books']['period_s'])
merge_temp = pd.merge(E.mm_dfs['mm_books'].loc[q1], temp_employees_groupby, how='left', on='location_coord')
E.mm_dfs['mm_books']['period_income'] -= merge_temp['pay'].fillna(0)

CPU times: user 4.43 ms, sys: 641 μs, total: 5.07 ms
Wall time: 4.29 ms

In [ ]:
radius = np.sqrt(2*(64/2)**2) 

replace = E.mm_dfs['mm_employee_master'].sample(2, replace=False)

employee_pid = E.mm_dfs['mm_employee_master']['pid'].tolist()

cols = ['pid','lastname','death', 'locv', 'loch']
potential_employee = E.persondf.query(
            f'({E.month} - birth) >= 18*12' \
            'and death < 0 ' \
            'and job not in [0.0,1.0]' \
            f'and pid not in {employee_pid}'
        )[cols]

temp_df = potential_employee.assign(key=1).merge(replace.assign(key=1), on='key').drop('key', axis=1)

temp_df['distance'] = np.linalg.norm(np.array(temp_df['location_coord'].tolist()) - temp_df[['locv', 'loch']].values, axis=1)

eligible_df = temp_df[temp_df['distance'] < radius].copy()
eligible_df['rank'] = eligible_df.groupby('location_coord')['distance'].rank(method='first')

final_assignment_df = eligible_df[
            eligible_df['rank'] == 1
        ].sort_values(['location_coord', 'rank'])

pid_map = final_assignment_df.set_index('pid_y')['pid_x']
new_pids = E.mm_dfs['mm_employee_master']['pid'].map(pid_map)
E.mm_dfs['mm_employee_master']['pid'] = new_pids.fillna(E.mm_dfs['mm_employee_master']['pid']).astype(int)

#adjust new employee's job 
q1 = E.persondf['pid'].isin(final_assignment_df['pid_x'])
#E.persondf.loc[q1,'job'] = 3.0

#adjust old employee's job 
q2 = E.persondf['pid'].isin(final_assignment_df['pid_y'])
#E.persondf.loc[q2,'job'] = 0.0

In [ ]:
q2 = E.mm_dfs['mm_employee_master']['pid'].isin(final_assignment_df['pid_x'])
E.mm_dfs['mm_employee_master'].loc[q2]

       location_coord    pid     wage
204  (1248.0, 1312.0)  74550  40000.0
316   (1440.0, 800.0)  70174  40000.0

In [ ]:
q3 = E.mm_dfs['mm_employee_master']['pid'].isin(replace['pid'])
E.mm_dfs['mm_employee_master'].loc[q3]

Empty DataFrame
Columns: [location_coord, pid, wage]
Index: []

In [ ]:
E.mm_dfs['mm_books']

,location_coord,period_s,period_e,balance_s,balance_e,period_income,sales_tax
0,"(482.0, 802.0)",1,3,100000.0,0.0,-34801.124863,0.0
1,"(800.0, 928.0)",1,3,100000.0,0.0,-35322.962899,0.0
2,"(736.0, 992.0)",1,3,100000.0,0.0,-35262.256649,0.0
3,"(736.0, 672.0)",1,3,100000.0,0.0,-34827.575384,0.0
4,"(672.0, 736.0)",1,3,100000.0,0.0,-34660.700981,0.0
5,"(928.0, 1056.0)",1,3,500000.0,0.0,-42755.335618,0.0
6,"(992.0, 1120.0)",1,3,500000.0,0.0,-42235.531519,0.0
7,"(1056.0, 992.0)",1,3,500000.0,0.0,-41969.048642,0.0
8,"(928.0, 992.0)",1,3,500000.0,0.0,-42179.289394,0.0
9,"(992.0, 1056.0)",1,3,500000.0,0.0,-42213.876634,0.0
10,"(1440.0, 800.0)",1,3,1000000.0,0.0,-174273.855555,0.0
11,"(1248.0, 1504.0)",1,3,1000000.0,0.0,-176143.151670,0.0
12,"(1248.0, 1312.0)",1,3,1000000.0,0.0,-174763.786902,0.0
13,"(736.0, 1504.0)",1,3,1000000.0,0.0,-173777.487179,0.0
14,"(1440.0, 736.0)",1,3,1000000.0,0.0,-174765.908490,0.0